body {
  font-family: Monospace, sans-serif;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
}

.big {
  font-size: 28px;
}

strong {
  font-size: 22px;
  color: white;
  background-color: black;
}

article > p {
  font-size: 18px;
}

h1, footer, #intro {
  text-align: center;
}

.prep {
  list-style-type: none;
}
