body, a {
  font-family: Monospace, sans-serif;
  color: white;
  background-color: #241F31;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
}

strong {
  font-size: 22px;
  color: white;
  background-color: #3D3846;
}

article > p {
  font-size: 18px;
}

h1, footer, #intro {
  text-align: center;
}

.prep, .links {
  list-style-type: none;
  font-weight: bold;
}

.big {
  font-size: 28px;
}
